// Write a .gitignore file for the project

# Ignore all files in the build directory
build/

# Ignore all files in the bin directory
Cursor_Reminder

build-msvc/
build-clang/

thirdparty/bgfx.cmake/build/
